In [54]:
import pandas as pd
from sqlalchemy import create_engine

In [60]:
premise_file = "pres_clean.csv"
premise_df = pd.read_csv(premise_file)
premise_df.head()

,Unnamed: 0,Year,president,party,annual_gnp_growth_pct,annual_debt_increase_pct,ufo_sightings,daily_cig_sale_per_adult
0,0,1949,Harry S. Truman,Democratic,-1.53,0.2,15.0,9.3
1,1,1950,Harry S. Truman,Democratic,13.37,1.8,21.0,9.3
2,2,1951,Harry S. Truman,Democratic,5.47,-0.8,13.0,9.8
3,3,1952,Harry S. Truman,Democratic,5.37,1.5,37.0,10.0
4,4,1953,Dwight D. Eisenhower,Republican,0.52,2.7,26.0,9.7

In [62]:
premise_file1 = "pres_group.csv"
premise_df2 = pd.read_csv(premise_file1)
premise_df2.index.names = ['id']
premise_df2.head()

,president,Year,annual_gnp_growth_pct,annual_debt_increase_pct,ufo_sightings,daily_cig_sale_per_adult
id,,,,,,
0,Barack Obama,2012.5,1.87750,8.3250,4324.000,3.466667
1,Bill Clinton,1996.5,3.81250,4.2875,1120.375,6.187500
2,Dwight D. Eisenhower,1956.5,2.53875,1.2625,40.750,9.850000
3,George H. W. Bush,1990.5,2.22250,11.8250,188.500,7.250000
4,George W. Bush,2004.5,1.84875,7.3875,3085.625,4.650000

In [56]:
premise_df1 = premise_df[["president","Year","annual_gnp_growth_pct","annual_debt_increase_pct","ufo_sightings","daily_cig_sale_per_adult"]]
premise_df1.index.names = ['id']
premise_df1.head()

,president,Year,annual_gnp_growth_pct,annual_debt_increase_pct,ufo_sightings,daily_cig_sale_per_adult
id,,,,,,
0,Harry S. Truman,1949,-1.53,0.2,15.0,9.3
1,Harry S. Truman,1950,13.37,1.8,21.0,9.3
2,Harry S. Truman,1951,5.47,-0.8,13.0,9.8
3,Harry S. Truman,1952,5.37,1.5,37.0,10.0
4,Dwight D. Eisenhower,1953,0.52,2.7,26.0,9.7

In [57]:
connection_string = "root:0318119@localhost/presidents_data"
engine = create_engine(f'mysql://{connection_string}')

In [58]:
engine.table_names()

['pres_agg', 'pres_data']

In [59]:
premise_df1.to_sql(name='pres_data', con=engine, if_exists='append', index=True)

In [63]:
premise_df2.to_sql(name='pres_agg', con=engine, if_exists='append', index=True)