In [41]:
import pandas as pd
from sqlalchemy import create_engine

In [42]:
premise_file = "pres_clean.csv"
premise_df = pd.read_csv(premise_file)
premise_df.head()

,Unnamed: 0,president,party,annual_gnp_growth_pct,annual_debt_increase_pct,ufo_sightings,daily_cig_sale_per_adult
0,0,Harry S. Truman,Democratic,-1.53,0.2,15,9.3
1,1,Harry S. Truman,Democratic,13.37,1.8,21,9.3
2,2,Harry S. Truman,Democratic,5.47,-0.8,13,9.8
3,3,Harry S. Truman,Democratic,5.37,1.5,37,10.0
4,4,Dwight D. Eisenhower,Republican,0.52,2.7,26,9.7

In [34]:
premise_df1 = premise_df[["president","annual_gnp_growth_pct","annual_debt_increase_pct","ufo_sightings","daily_cig_sale_per_adult"]]
premise_df1.index.names = ['id']
premise_df1.head()

,president,annual_gnp_growth_pct,annual_debt_increase_pct,ufo_sightings,daily_cig_sale_per_adult
id,,,,,
0,Harry S. Truman,-1.53,0.2,15,9.3
1,Harry S. Truman,13.37,1.8,21,9.3
2,Harry S. Truman,5.47,-0.8,13,9.8
3,Harry S. Truman,5.37,1.5,37,10.0
4,Dwight D. Eisenhower,0.52,2.7,26,9.7

In [35]:
connection_string = "root:0318119@localhost/presidents_data"
engine = create_engine(f'mysql://{connection_string}')

In [36]:
engine.table_names()

['pres_agg', 'pres_data']

In [38]:
premise_df1.to_sql(name='pres_data', con=engine, if_exists='append', index=True)