In [3]:
import pandas as pd

In [4]:
dataFile_US_Econ = "Resources/us_econ_growth.csv"
econ_growth_df = pd.read_csv(dataFile_US_Econ)
econ_growth_df.head()

        Date  Value  Year
0  30-Sep-18  3.04%  2018
1  31-Dec-17  2.47%  2017
2  31-Dec-16  1.88%  2016
3  31-Dec-15  2.00%  2015
4  31-Dec-14  2.70%  2014