In [2]:
import pandas as pd

In [3]:
cig_file = "Resources/sales-of-cigarettes-per-adult-per-day.csv"
cig_df = pd.read_csv(cig_file)
cig_df.head()

,Entity,Code,Year,Sales of cigarettes per adult per day (International Smoking Statistics (2017)) (cigarettes)
0,Armenia,ARM,1988,12.0
1,Armenia,ARM,1989,11.6
2,Armenia,ARM,1990,11.9
3,Armenia,ARM,1991,9.3
4,Armenia,ARM,1992,4.9