In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
premise_file = "pres_clean.csv"
premise_df = pd.read_csv(premise_file)
premise_df.head()

,Unnamed: 0,president,party,annual_gnp_growth_pct,annual_debt_increase_pct,ufo_sightings,year,daily_cig_sale_per_adult
0,0,Harry S. Truman,Democratic,-1.53%,0.2,15,1949,9.3
1,1,Harry S. Truman,Democratic,13.37%,1.8,21,1950,9.3
2,2,Harry S. Truman,Democratic,5.47%,-0.8,13,1951,9.8
3,3,Harry S. Truman,Democratic,5.37%,1.5,37,1952,10.0
4,4,Dwight D. Eisenhower,Republican,0.52%,2.7,26,1953,9.7

In [21]:
premise_df1 = premise_df[["president","annual_gnp_growth_pct","annual_debt_increase_pct","ufo_sightings","year","daily_cig_sale_per_adult"]]

premise_df1.head()

,president,annual_gnp_growth_pct,annual_debt_increase_pct,ufo_sightings,year,daily_cig_sale_per_adult
0,Harry S. Truman,-1.53%,0.2,15,1949,9.3
1,Harry S. Truman,13.37%,1.8,21,1950,9.3
2,Harry S. Truman,5.47%,-0.8,13,1951,9.8
3,Harry S. Truman,5.37%,1.5,37,1952,10.0
4,Dwight D. Eisenhower,0.52%,2.7,26,1953,9.7

In [22]:
connection_string = "root:0318119@localhost/presidents_data"
engine = create_engine(f'mysql://{connection_string}')

In [23]:
engine.table_names()

['pres_agg', 'pres_data']

In [24]:
premise_df1.to_sql(name='pres_data', con=engine, if_exists='append', index=True)

OperationalError: (_mysql_exceptions.OperationalError) (1054, "Unknown column 'index' in 'field list'") [SQL: 'INSERT INTO pres_data (`index`, president, annual_gnp_growth_pct, annual_debt_increase_pct, ufo_sightings, year, daily_cig_sale_per_adult) VALUES (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s), (%s, %s, %s, %s, %s, %s, %s)'] [parameters: (0, 'Harry S. Truman', '-1.53%', 0.2, 15, 1949, 9.300000190734863, 1, 'Harry S. Truman', '13.37%', 1.8, 21, 1950, 9.300000190734863, 2, 'Harry S. Truman', '5.47%', -0.8, 13, 1951, 9.800000190734863, 3, 'Harry S. Truman', '5.37%', 1.5, 37, 1952, 10.0, 4, 'Dwight D. Eisenhower', '0.52%', 2.7, 26, 1953, 9.699999809265137, 5, 'Dwight D. Eisenhower', '2.73%', 2.0, 38, 1954, 9.199999809265137, 6, 'Dwight D. Eisenhower', '6.58%', 1.1, 25, 1955, 9.399999618530273, 7, 'Dwight D. Eisenhower', '2.00%', -0.6, 39, 1956, 9.399999618530273, 8, 'Dwight D. Eisenhower', '0.35%', -0.8, 62, 1957, 9.699999809265137, 9, 'Dwight D. Eisenhower', '2.66%', 2.1, 42, 1958, 10.19999980926514, 10, 'Dwight D. Eisenhower', '4.59%', 3.0, 43, 1959, 10.5, 11, 'Dwight D. Eisenhower', '0.88%', 0.6, 51, 1960, 10.69999980926514, 12, 'John F. Kennedy', '6.40%', 0.9, 41, 1961, 11.0, 13, 'John F. Kennedy', '4.31%', 3.2, 56, 1962, 10.899999618530268, 14, 'John F. Kennedy', '5.16%', 2.6, 68, 1963, 11.0, 15, 'Lyndon B. Johnson', '5.16%', 1.9, 78, 1964, 10.60000038146973, 16, 'Lyndon B. Johnson', '8.46%', 1.8, 164, 1965, 10.69999980926514, 17, 'Lyndon B. Johnson', '4.50%', 0.8, 160, 1966, 10.69999980926514, 18, 'Lyndon B. Johnson', '2.67%', 2.0, 147, 1967, 10.69999980926514, 19, 'Lyndon B. Johnson', '4.96%', 6.5, 175, 1968, 10.39999961853027, 20, 'Richard Nixon', '2.05%', 1.8, 120, 1969, 10.0, 21, 'Richard Nixon', '-0.17%', 4.9, 109, 1970, 10.19999980926514, 22, 'Richard Nixon', '4.37%', 7.3, 97, 1971, 9.899999618530273, 23, 'Richard Nixon', '4.37%', 7.3, 97, 1972, 10.19999980926514, 24, 'Richard Nixon', '6.90%', 7.3, 119, 1971, 9.899999618530273, 25, 'Richard Nixon', '6.90%', 7.3, 119, 1972, 10.19999980926514, 26, 'Richard Nixon', '4.02%', 7.2, 188, 1973, 10.69999980926514, 27, 'Gerald Ford', '-1.95%', 3.7, 219, 1974, 10.60000038146973, 28, 'Gerald Ford', '2.55%', 12.2, 247, 1975, 10.39999961853027, 29, 'Gerald Ford', '4.31%', 16.4, 222, 1976, 10.30000019073486, 30, 'Jimmy Carter', '5.01%', 12.6, 206, 1977, 10.19999980926514, 31, 'Jimmy Carter', '6.66%', 10.4, 258, 1978, 10.0, 32, 'Jimmy Carter', '1.28%', 7.1, 191, 1979, 9.899999618530273, 33, 'Jimmy Carter', '-0.04%', 9.8, 194, 1980, 9.899999618530273, 34, 'Ronald Reagan', '1.30%', 9.9, 133, 1981, 9.899999618530273, 35, 'Ronald Reagan', '-1.44%', 14.4, 134, 1982, 9.699999809265137, 36, 'Ronald Reagan', '7.90%', 20.6, 122, 1983, 9.100000381469727, 37, 'Ronald Reagan', '5.58%', 14.2, 144, 1984, 9.0, 38, 'Ronald Reagan', '4.18%', 16.0, 171, 1985, 8.800000190734863, 39, 'Ronald Reagan', '2.91%', 16.6, 153, 1986, 8.600000381469728, 40, 'Ronald Reagan', '4.48%', 10.6, 176, 1987, 8.300000190734862, 41, 'Ronald Reagan', '3.80%', 10.7, 188, 1988, 8.100000381469728, 42, 'George H. W. Bush', '2.74%', 9.8, 200, 1989, 7.5999999046325675, 43, 'George H. W. Bush', '0.60%', 13.2, 191, 1990, 7.4000000953674325, 44, 'George H. W. Bush', '1.17%', 13.4, 180, 1991, 7.0999999046325675, 45, 'George H. W. Bush', '4.38%', 10.9, 183, 1992, 6.9000000953674325, 46, 'Bill Clinton', '2.61%', 8.5, 228, 1993, 6.5999999046325675, 47, 'Bill Clinton', '4.12%', 6.4, 324, 1994, 6.5999999046325675, 48, 'Bill Clinton', '2.20%', 6.0, 915, 1995, 6.5, 49, 'Bill Clinton', '4.42%', 5.0, 646, 1996, 6.4000000953674325, 50, 'Bill Clinton', '4.49%', 3.6, 1009, 1997, 6.300000190734862, 51, 'Bill Clinton', '4.88%', 2.1, 1404, 1998, 6.0, 52, 'Bill Clinton', '4.81%', 2.4, 2253, 1999, 5.699999809265138, 53, 'Bill Clinton', '2.97%', 0.3, 2184, 2000, 5.400000095367432, 54, 'George W. Bush', '0.15%', 2.3, 2445, 2001, 5.300000190734863, 55, 'George W. Bush', '2.09%', 7.2, 2439, 2002, 5.099999904632568, 56, 'George W. Bush', '2.09%', 7.2, 2439, 2006, 4.5, 57, 'George W. Bush', '2.59%', 7.2, 2884, 2002, 5.099999904632568, 58, 'George W. Bush', '2.59%', 7.2, 2884, 2006, 4.5, 59, 'George W. Bush', '4.33%', 8.9, 2958, 2003, 4.900000095367432, 60, 'George W. Bush', '3.28%', 8.8, 3244, 2004, 4.699999809265137, 61, 'George W. Bush', '3.13%', 7.5, 3228, 2005, 4.5, 62, 'George W. Bush', '1.97%', 5.9, 3470, 2007, 4.199999809265137, 63, 'George W. Bush', '-2.75%', 11.3, 4017, 2008, 4.0, 64, 'Barack Obama', '0.18%', 18.8, 3677, 2009, 3.7000000476837163, 65, 'Barack Obama', '2.57%', 13.9, 3548, 2010, 3.5999999046325684, 66, 'Barack Obama', '1.61%', 9.1, 4379, 2011, 3.5, 67, 'Barack Obama', '1.47%', 8.6, 6320, 2012, 3.5, 68, 'Barack Obama', '2.61%', 4.2, 6056, 2013, 3.2999999523162837, 69, 'Barack Obama', '2.70%', 6.5, 1964, 2014, 3.2000000476837163)] (Background on this error at: http://sqlalche.me/e/e3q8)